<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/controller.css" />

	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="/js/events.js"></script>
	<script src="/js/controller.js"></script>
</head>
<body>
	<div id="main-content">
		<div id="left-column" class="column">
			<div id="d-pad" class="controller-button">
				<img src="/img/d_pad.png" />
			</div>
		</div>
		<div id="center-column" class="column">
			
		</div>
		<div id="right-column" class="column">
			<div id="a-button" class="controller-button">
				<img src="/img/green_a_button.png" />
			</div>
			<div id="b-button" class="controller-button">
				<img src="/img/red_b_button.png" />
			</div>
		</div>
	</div>
</body>
</html>